<nav class="footer__wrapper" id="footer">
    <div class="container footer">
        <div class="footer__block">
            <h3 class="footer__title">
                Contact us
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-home"></use>
                    </svg>
                    <h6 class="footer__icon-info">
                        <b>XUÂN SPA BOUTIQUE</b>  <br>
                        Address: B4-05 An Thượng 38 street, Ngũ Hành Sơn district,Da Nang city  <br>
                        Phone number: 0236.3.583.589 <br>
                        Working time: 08h30 – 22h30 <br>
                    </h6>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-home"></use>
                    </svg>
                    <h6 class="footer__icon-info">
                        <b>XUÂN SPA</b>  <br>
                        Address: 32 Nguyễn Trường Tộ street, Hải Châu district, Đà Nẵng city  <br>
                        Phone number: 0236.3838.589 <br>
                        Working time: 08h30 – 20h00 <br>
                    </h6>
                </div>
            </div>
        </div>
    
        <div class="footer__block">
            <h3 class="footer__title">
                Connect us
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-facebook-with-circle"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a :href="footer.fb"
                            target="blank">
                            {{ footer.fb }}
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <img src="images/kakaologo.svg" alt="logo" class="footer__info-img">
                    <h5 class="footer__icon-info">
                        <a :href="footer.talk"
                            target="blank">
                            {{ footer.talk }}
                        </a>
                    </h5>
                </div>
                 <div class="footer__info-block">
                    <img src="images/trip_logo.png" alt="logo" class="footer__info-img">
                    <h5 class="footer__icon-info">
                        <a :href="footer.trip"
                            target="blank">
                            {{footer.trip}}
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-instagram"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a :href="footer.ig"
                            target="blank">
                            {{footer.ig}}
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-mail"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a :href=footer.email
                            target="blank">
                            {{footer.email}}
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    
        <div class="footer__block">
            <h3 class="footer__title">
                Payments
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <img src="images/visa.png" alt="visa" class="footer__payment">
                </div>
                <div class="footer__info-block">
                    <img src="images/mastercard.png" alt="mastercard" class="footer__payment">
                </div>
            </div>
        </div>
    </div>
</nav>
<script src="../../../public/javascripts/function/footerFetching.js"></script>
