<div class="promo-pop">
    <div class="promo-pop__body">
        <h4 class="promo-pop__title">
            Awesome promotion here!!
        </h4>
        <p class="promo-pop__content"> We are having other attractive promotions for you.
                Quickly click on the link below to view the
                Our unique promotion.
        </p>
        <div class="promo-pop__action">
            <a href="/promotion" class="btn-book mr-4">See our promotion</a>
            <button class="promo-pop__canc">See later</button>
        </div>
        <img src="images/gift.png" alt="cax" class="promo-pop__gift">
    </div>
</div>
