<%- include('../includes/html-header.ejs') %>
<!-- navbar section -->
<%- include('../includes/admin-header.ejs') %>


<div class="container">
    <h2 class="adminboard"> Admin board </h2>
</div>

<%- include('../includes/html-footer.ejs') %>