    
    <%- include('../includes/phone.ejs') %>
    <!-- <audio src="music/bgMusic.mp3" autoplay="true" loop="true"></audio> -->
    <script src="public/vendor.bundle.js"></script>
    <script src="public/main.bundle.js"></script>
</body>
</html>