<div class="book-pop">
    <div class="book-pop__body" data-popup="popup">

        <h4 class="book-pop__title">
            서비스 예약: <%= service.name %>
        </h4>
        <form action="/message" class="book-pop__form" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="name" 
                        placeholder="이름">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" 
                        placeholder="귀하의 이메일">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="phone" 
                        placeholder="전화 번호">
            </div>

            
            <div class="form-group">
                <input type="date" class="form-control" name="time" 
                        placeholder="언제 오니">
            </div>

            <div class="form-group">
                <textarea type="text" class="form-control" name="mess" 
                        placeholder="메시지" rows="3"></textarea>
            </div>

            <input type="hidden" name="service" value="<%= service._id %>">

            <span class="book-pop__close">x</span>

            <button class="btn-book">
                비축
            </button>
        </form>
    </div>
</div>