<nav class="footer__wrapper">
    <div class="container footer">
        <div class="footer__block">
            <h3 class="footer__title">
                 문의하기
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-home"></use>
                    </svg>
                    <h6 class="footer__icon-info">
                        <b>XUÂN SPA BOUTIQUE</b>  <br>
                        주소: B4-05 An Thượng 38 거리, Ngũ Hành Sơn 지구,Da Nang 시티 <br>
                        전화 번호: 0236.3.583.589 <br>
                        근무 시간: 08h30 – 22h30 <br>
                    </h6>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-home"></use>
                    </svg>
                    <h6 class="footer__icon-info">
                        <b>XUÂN SPA</b>  <br>
                        주소: 32 Nguyễn Trường Tộ 거리, Hải Châu 지구, Đà Nẵng 시티  <br>
                        전화 번호: 0236.3838.589 <br>
                        근무 시간: 08h30 – 20h00 <br>
                    </h6>
                </div>
            </div>
        </div>
    
        <div class="footer__block">
            <h3 class="footer__title">
                잇다
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-facebook-with-circle"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a href="https://www.facebook.com/XuanSpaDaNang/"
                            target="blank">
                            Xuanspadanang
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <img src="images/kakaologo.svg" alt="logo" class="footer__info-img">
                    <h5 class="footer__icon-info">
                        <a href="#"
                            target="blank">
                            Xuanspadanang
                        </a>
                    </h5>
                </div>
                 <div class="footer__info-block">
                    <img src="images/trip_logo.png" alt="logo" class="footer__info-img">
                    <h5 class="footer__icon-info">
                        <a href="https://www.tripadvisor.com/Attraction_Review-g298085-d16731366-Reviews-Xuan_Spa_Boutique-Da_Nang.html"
                            target="blank">
                            Trip advisor
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-instagram"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a href="https://instagram.com/xuanspaboutique_danang?igshid=boic4o0ilshu"
                            target="blank">
                            Xuanspadanang
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-mail"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a href="#"
                            target="blank">
                            Xuanspadanang@gmail.com
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    
        <div class="footer__block">
            <h3 class="footer__title">
                지불금
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <img src="images/visa.png" alt="visa" class="footer__payment">
                </div>
                <div class="footer__info-block">
                    <img src="images/mastercard.png" alt="mastercard" class="footer__payment">
                </div>
            </div>
        </div>
    </div>
</nav>