<div class="promo-pop">
    <div class="promo-pop__body">
        <h4 class="promo-pop__title">
            대단한 승진은 여기 !!
        </h4>
        <p class="promo-pop__content"> 
            우리는 당신을 위해 다른 매력적인 프로모션을 가지고 있습니다.
            아래 링크를 빠르게 클릭하면 해당 링크를 볼 수 있습니다.
            우리의 독특한 프로모션
        </p>
        <div class="promo-pop__action">
            <a href="/promotion" class="btn-book mr-4">프로모션보기</a>
            <button class="promo-pop__canc">나중에보기</button>
        </div>
        <img src="images/gift.png" alt="cax" class="promo-pop__gift">
    </div>
</div>
