
<nav class="resmenu">
    <div class="resmenu__body">
            <a href="/" class="resmenu__link resmenu__active-link">                    
                홈페이지
            </a>
            <a href="/about-us" class="resmenu__link">
                소개
            </a>
            <a href="/services" class="resmenu__link">
                서비스
            </a>
            <a href="/product" class="resmenu__link">                    
                제품
            </a>
            
            <a href="/blog" class="resmenu__link">
                핸드북
            </a>
            <a href="/contact" class="resmenu__link">
                연락처
            </a>
            <a href="/recruit" class="resmenu__link">
                모집
            </a>
    </div>
    <svg class="resmenu__close">
        <use xlink:href="../../public/images/symbol.svg#icon-cancel"></use>
    </svg>
</nav>