.about{
    margin-top: 3rem;
    &__content{

        img{
            max-width: 100%;
        }
        p{
            margin-bottom: 0;
        }
        .ql-video{
            display: block;
            margin: 0 auto;
            width: 45rem ;
            height: 32rem ;

            @include viewport(869px){
                width: 100%;
                height: 20rem;
            }
        }
    }
    &__hr{
        @include viewport(600px){
            display: none;
        }
    }
}

.gallery{
    margin-bottom: 5rem;
    margin-top: 3rem;
    &__title{
        color: $color-primary;
        font-family: $font-title;
        font-size: 3.2rem;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }
    &__body{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(20rem,22rem));
        grid-template-rows: 16rem;
        grid-gap: 1.5rem;
        margin-top: 1.2rem;
    }
    &__img{
        width: 100%;
        height: 16rem;
        object-fit: cover;
    }
}