.servDetail{
    margin-top: 3.4rem;
    margin-bottom: 6rem;
    &__left{
        grid-column: 2/9;
        padding-right: 2.5rem;

        @include viewport(1100px){
            grid-column: 2/12;
            padding-right: 0;
            margin-bottom: 3rem;
        }
    }
    &__heading{
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
    }
    &__info{
        margin-right: 4rem;
        display: flex;
        align-items: center;
        @include viewport(500px){
            margin-right: 2rem;
        }
        svg{
            fill: #a0a0a0;
            height: 2rem;
            width: 2rem;
            margin-right: 0.5rem;
        }
        p{
            color: #a0a0a0;
            margin-bottom: 0;
        }
    }

    &__imgs{
        height: 39rem;
        width: 100%;
        border: 1.5rem solid rgb(243, 243, 243);
        margin-bottom: 2rem;
        
        @include viewport(1400px){
            height: 30rem;
        }
        @include viewport(500px){
            height: 16.5rem;
            border: .7rem solid rgb(243, 243, 243);

        }
        
    }
    &__img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        animation: snapIn .5s ease;
        display: none;
    }

    &__detail{
        p{
            margin-bottom: .5rem;
            font-size: 1rem;
        }
        button{
            margin-top: 1rem;
        }
    }
    &__title{
        font-family: $font-title;
        color: $color-primary;
        font-size: 1.9rem;
        margin-bottom: 1.5rem;
    }
    
    &__right{
        grid-column: 9/12;
        padding: 1rem 1.5rem;
        @include viewport(1100px){
            grid-column: 2/12;
            padding: 1rem 0;
        }
    }

    &__card{
        margin-bottom: 2.5rem;
        img{
            height: 15rem;
            width: 100%;
            margin-bottom: 1rem;
            object-fit: cover;
            @include boxshadow(9px, .2);
            
            @include viewport(1400px){
                height: 11rem;
            }
        }
        a{
            &:link, &:visited{
                text-decoration: none
            }
        }
        h5{
            text-transform: uppercase;
            color: $color-secondary;
            margin-bottom: 0.5rem;
        }
        p{
            color: #666;
        }
    }
}

.activeImg{
    display: block !important;
}
