<%- include('../includes/html-header.ejs') %>
    <%- include('../includes/vn/client-header.ejs') %>

        <div class="thank container">
            <h5 class="thank__title">
                You have successfully booked our service!</h5>
            <hr>
            <p>
                Thank you for book spa services at Xuan Spa center,
                We will contact you as soon as possible
                Thank you.
            </p>
        </div>

     <%- include('../includes/vn/client-footer.ejs') %>
<%- include('../includes/html-footer.ejs') %>