.footer{
    display: flex;
    padding: 3rem 0;
    @include viewport(1000px){
        flex-direction: column;
        align-items: center;
    }

    &__wrapper{
        background-color: #f4f4f4;
        
        @include boxshadow(1rem, .4);
    }

    &__block{
        width: 80%;
        @include viewport(1000px){
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &:not(:last-child){
            margin-right: 3rem;
            @include viewport(1000px){
                margin-right: 0;
                margin-bottom: 1.3rem;
            }
        }
    }
    &__title{
        color: $color-secondary;
        font-family: $font-title;
        font-size: 2.8rem;
        margin-bottom: 2rem;
        @include viewport(600px){
            font-size: 2rem;
        }
    }
    &__info{
        &:not(:last-child){
            margin-right: 1.7rem;
            @include viewport(1000px){
                margin-right: 0;
                margin-bottom: 1.3rem;
            }
        }
    }
    &__info-block{
        display: flex;
        align-items: center;
        margin-bottom: 1.8rem;
        @include viewport(500px){
            flex-direction: column;
        }
    }
    &__icon{
        height: 2.2rem;
        width: 2.2rem;
        fill: #343434;
        margin-right: .7rem;
    }
    &__icon-info{
        flex: 5;
        font-size: 1.1rem;
        margin-bottom: 0;
        b{
            text-transform: uppercase;
            color: $color-secondary;
            margin-bottom: 0.4rem;
        }
        a{
            &:link, &:visited{
                color: #343434;
                font-size: 1rem;
                @include viewport(400px){
                    font-size: .85rem;
                }
            }
        }

        @include viewport(600px){
            font-size: 0.9rem;
        }
    }
    &__info-img{
        height: 2rem;
        margin-right: .7rem;
    }
    &__payment{
        height: 5rem;
        width: 7rem;
        object-fit: cover;
        
    }
    &__banner{
        width: 100%;
        object-fit: cover;
    }
}