%popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: .5);
    justify-content: center;
    align-items: center;
    z-index: 500;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 .5rem;
}

%inside{ 
    max-width: 60rem;
    padding: 3.5rem 3rem;
    background-color: white;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    
    animation: popup .5s cubic-bezier(.21,.54,.23,1.19);

    @include viewport(600px){
        padding: 2rem 1.5rem;
    }
}
.popup{
    @extend %inside;

    &__wrapper{
        @extend %popup;
        display: none;
    }
    &__title{
        color: rgb(209, 40, 62);
        font-weight: 700;
    }

    &__desc{
        padding: 1.5rem 0;
        margin: 1.2rem 0;
        border-top: 1px solid rgba(0, 0, 0, .2);
        border-bottom: 1px solid rgba(0, 0, 0, .2)
    }
    &__action{
        display: flex;
        align-self: flex-end;
    }
}

.book-pop{
    @extend %popup;
    
    display: none;

    &__body{
        @extend %inside;
        position: relative;
    }
    &__title{
        font-size: 1.4rem;
        color: $color-secondary;
        text-transform: uppercase;
    }
    &__form{
        margin-top: 2rem;
    }
    &__close{
        color: rgb(218, 22, 22);
        position: absolute;
        top: .1rem;
        right: 1rem;
        font-size: 1.1rem;
        font-weight: 700;
        cursor: pointer;
    }
}

.prod-pop{
    @extend %popup;
    display: none;

    &__body{
        @extend %inside;
        position: relative;
    }

    &__title{
        color: $color-primary;
        font-size: 2rem;
        margin-bottom: 1.2rem;
        font-family: $font-title;
    }
    &__name{
        color: $color-secondary;
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-bottom: 1.2rem;
    }

    &__brand{
        display: flex;
        align-items: center;
        margin-bottom: 1.2rem;

        strong{
            font-weight: 700;
            font-size: 1.2rem;
        }
        svg{
            fill: rgb(92, 92, 92);
            height: 1.5rem;
            width: 1.5rem;
            margin-right: 0.5rem;
        }
    }
    &__content{
        color: #444;
    }
}

.promo-pop{
    @extend %popup;
    display: none;

    &__body{
        @extend %inside;
        align-items: center;
        position: relative;
    }
    &__title{
        font-size: 2.5rem;
        color: $color-secondary;
        font-family: $font-title;
        margin-bottom: 2rem;
        text-transform: capitalize;
        text-align: center;
        
    }
    &__content{
        font-size: 1rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }
    &__action{
        display: flex;
    }
    &__canc{
        padding: .7rem 1rem;
        background-color: rgb(211, 211, 211);
        border: none;
    }
    .btn-book{
        &:link, &:visited{
            text-decoration: none;
            color: white;
        }
    }
    &__gift{
        height: 9rem;
        position: absolute;
        top: -3rem;
        left: -3rem;

        @include viewport(1000px){
            height: 6rem;
            top: -4rem;
            left: 1rem;
        }
    }
}

@keyframes popup {
    0%{
        transform: scale(.4);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}