<div class="book-pop">
    <div class="book-pop__body" data-popup="popup">

        <h4 class="book-pop__title">
            Dịch vụ đăng kí: <%= service.name %>
        </h4>
        <form action="/message" class="book-pop__form" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="name" 
                        placeholder="Tên của bạn">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="email" 
                        placeholder="Email của bạn">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" name="phone" 
                        placeholder="Sđt của bạn">
            </div>

            <div class="form-group">
                <input type="date" class="form-control" name="time" 
                        placeholder="Ngày bạn đến">
            </div>

            <div class="form-group">
                <textarea type="text" class="form-control" name="mess" 
                        placeholder="Lời nhắn" rows="3"></textarea>
            </div>

            <input type="hidden" name="service" value="<%= service._id %>">

            <span class="book-pop__close">x</span>

            <button class="btn-book">
                Đăng kí!
            </button>
        </form>
    </div>
</div>