<nav class="footer__wrapper">
    <div class="container footer">
        <div class="footer__block">
            <h3 class="footer__title">
                Liên hệ
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-home"></use>
                    </svg>
                    <h6 class="footer__icon-info">
                        <b> Xuân spa boutique </b> <br>
                        Địa chỉ: B4-05 Đường An Thượng 38, Q. Ngũ Hành Sơn, Tp. Đà Nẵng <br>
                        Số điện thoại: 0236.3.583.589 <br>
                        Giờ làm việc: 08h30 – 22h30
                    </h6>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-home"></use>
                    </svg>
                    <h6 class="footer__icon-info">
                        <b> Xuân spa </b> <br>
                        Địa chỉ: 32 Đường Nguyễn Trường Tộ, Q. Hải Châu, Tp. Đà Nẵng <br>
                        Số điện thoại: 0236.3838.589 <br>
                        Giờ làm việc: 08h30 – 20h00

                    </h6>
                </div>
            </div>
        </div>
    
        <div class="footer__block">
            <h3 class="footer__title">
                Kết nối
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-facebook-with-circle"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a href="https://www.facebook.com/XuanSpaDaNang/"
                            target="blank">
                            Xuanspadanang
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <img src="images/kakaologo.svg" alt="logo" class="footer__info-img">
                    <h5 class="footer__icon-info">
                        <a href="#"
                            target="blank">
                            Xuanspadanang
                        </a>
                    </h5>
                </div>
                 <div class="footer__info-block">
                    <img src="images/trip_logo.png" alt="logo" class="footer__info-img">
                    <h5 class="footer__icon-info">
                        <a href="https://www.tripadvisor.com/Attraction_Review-g298085-d16731366-Reviews-Xuan_Spa_Boutique-Da_Nang.html"
                            target="blank">
                            Trip advisor
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-instagram"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a href="https://www.instagram.com/xuanspaboutique/"
                            target="blank">
                            Xuanspadanang
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-mail"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a href="https://www.facebook.com/XuanSpaDaNang/"
                            target="blank">
                            Xuanspadanang@gmail.com
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    
        <div class="footer__block">
            <h3 class="footer__title">
                Thanh toán
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <img src="images/visa.png" alt="visa" class="footer__payment">
                </div>
                <div class="footer__info-block">
                    <img src="images/mastercard.png" alt="mastercard" class="footer__payment">
                </div>
            </div>
        </div>
    </div>
</nav>