<nav class="footer__wrapper">
    <div class="container footer">
        <div class="footer__block">
            <h3 class="footer__title">
                Liên hệ
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-home"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        32 Nguyễn Trường Tộ, Quận Hải Châu, thành phố Đà Nẵng
                    </h5>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-phone"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        0919 317 689 (Ms. Châu)
                    </h5>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-phone"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        0906 881 999 (Ms. Duyên)
                    </h5>
                </div>
            </div>
        </div>
    
        <div class="footer__block">
            <h3 class="footer__title">
                Kết nối
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-facebook-with-circle"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a href="https://www.facebook.com/Superknife0512"
                            target="blank">
                            Xuan Spa Facebook Da Nang
                        </a>
                    </h5>
                </div>
                <div class="footer__info-block">
                    <svg class="footer__icon">
                        <use xlink:href="images/symbol.svg#icon-youtube"></use>
                    </svg>
                    <h5 class="footer__icon-info">
                        <a href="https://www.facebook.com/Superknife0512"
                            target="blank">
                            Xuan Spa Channel
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    
        <div class="footer__block">
            <h3 class="footer__title">
                Thanh toán
            </h3>
            <div class="footer__info">
                <div class="footer__info-block">
                    <img src="images/visa.png" alt="visa" class="footer__payment">
                </div>
                <div class="footer__info-block">
                    <img src="images/mastercard.png" alt="mastercard" class="footer__payment">
                </div>
            </div>
        </div>
    </div>
</nav>