<div class="promo-pop">
    <div class="promo-pop__body">
        <h4 class="promo-pop__title">
            Khuyến mãi hấp dẫn!!
        </h4>
        <p class="promo-pop__content"> Chúng tôi đang có khác khuyến mãi hấp dẫn cho các bạn.
            Hãy nhanh chóng click vào link bên dưới để đến xem các
            khuyến mãi độc đáo của chúng tôi. 
        </p>
        <div class="promo-pop__action">
            <a href="/promotion" class="btn-book mr-4">Xem khuyến mãi</a>
            <button class="promo-pop__canc">Xem sau</button>
        </div>
        <img src="images/gift.png" alt="cax" class="promo-pop__gift">
    </div>
</div>
