
<nav class="resmenu">
    <div class="resmenu__body">
        <a href="/" class="resmenu__link resmenu__active-link">
            Trang chủ
        </a>
        <a href="/about-us" class="resmenu__link">
            Giới thiệu
        </a>
        <a href="/services" class="resmenu__link">
            Dịch vụ
        </a>
        <a href="/product" class="resmenu__link">
            Sản phẩm
        </a>
        
        <a href="/blog" class="resmenu__link">
            Cẩm nang
        </a>
        <a href="/promotion" class="resmenu__link">
            Khuyến mãi
        </a>
        <a href="/contact" class="resmenu__link">
            Đặt chỗ
        </a>
        <a href="/recruit" class="resmenu__link">
            Tuyển dụng
        </a>
    </div>
    <svg class="resmenu__close">
        <use xlink:href="../../public/images/symbol.svg#icon-cancel"></use>
    </svg>
</nav>