<%- include('../includes/html-header.ejs') %>
    <%- include('../includes/vn/client-header.ejs') %>

        <div class="thank container">
            <h5 class="thank__title">Bạn đã book lịch thành công!</h5>
            <hr>
            <p>Cảm ơn bạn đã book dịch vụ spa ở trung tâm Xuân Spa, 
                chúng tôi sẽ hiên hệ lại bạn trong thời gian sớm nhất 
                Xin cảm ơn.
            </p>
        </div>

     <%- include('../includes/vn/client-footer.ejs') %>
<%- include('../includes/html-footer.ejs') %>